<style>
#putRight{
position:absolute;
right:10px;
}
</style>
<header class="navbar navbar-fixed-top navbar-inverse">
<div class="navbar-inner">
    <div class="container">
    <nav>
            <ul class="nav pull-right">
<a href="/" font size="5">Bookmarks</a>
<a href="/">Home</a>
<a href="/about">About</a>
<a href="/contact">Contact</a>
  </ul>
      </nav>
</div>
</div>
</header>
<br>
<br>
<br>
<br>
<br>


<div id="createBookmark" >
<h2> New Bookmark</h2>
<form id="new_entry">
 <ul>
  Name:
  <br>
  <input type="text" name="name" id="new_entry_name"> </ul>
  <ul>
  Address:
  <br>
  <input type="text" name="address" id="new_entry_address"></ul>
  <ul>
    Tags:
   <br>
  <input type="text" name="tags" id="new_entry_tags"></ul>
  <input type="submit" value="Create Bookmark" class="btn btn-primary">
</form>
<br>
<br>
</div>


<p><b><font size="5">Stored Bookmarks</font></b>
<div id="putRight">
<input type="text" id="filterField" value="Filtering">
<button id="filterEntry" class="btn btn-primary">Filter</button>
<button id="draw" class="btn btn-primary btn-info">+New Bookmark</button>

</div>
</p>

<br>
<br>
<br>
<br>
<br>
<br>

<table id="myTable" border="1" width=100%>
 <colgroup>
    <col style="width: 20%" />
    <col style="width: 20%" />
    <col style="width: 20%" />
    <col style="width: 20%" />
    <col style="width: 20%" />
  </colgroup>
<tr>
  <th>Name</th>
  <th>Address</th>
  <th>Tags</th>
  <th>  </th>
  <th>  </th>
</tr>
</table>
<div id="entries"></div>
<div class="filterResults"></div>



